$color-btn: #FF4E50;
$color-main-text: #FFFFFF;
$color-text: #444444;
$color-footer-menu-item: #999999;
$color-description-text: #F7F3F2;
$mainFont: 'Montserrat', sans-serif;
$descriptionFont: 'Roboto', sans-serif;
$color-dreamshare-text: #E3E3E3;
$color-partner-card-description: #666666;